@using CrucibleBlogMVC.Services.Interfaces;
@using CrucibleBlogMVC.Enums
@model CrucibleBlogMVC.Models.BlogPost


@inject IImageService _ImageService

<!-- Start Post List  -->
<div class="content-block post-list-view mt--30">
    <div class="post-thumbnail">
        <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@Model.Slug">
            <img src="@_ImageService.ConvertByteArrayToFileAsync(Model.ImageData, Model.ImageType, (int)(DefaultImage.BlogPostImage))">
        </a>
    </div>
    <div class="post-content">
        <div class="post-cat">
            <div class="post-cat-list">
                <a class="hover-flip-item-wrapper" asp-action="Details" asp-controller="Categories" asp-route-id="@Model.CategoryId">
                    <span class="hover-flip-item">
                        <span data-text="@Model.Category?.Name">@Model.Category?.Name</span>
                    </span>
                </a>
            </div>
        </div>
        <h4 class="title">
            <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@Model.Slug">
                @Model.Title
            </a>
        </h4>
        <div class="post-meta-wrapper">
            <div class="post-meta">
                <div class="content">
                    <h6 class="post-author-name">
                        <a class="hover-flip-item-wrapper" href="author.html">
                            <span class="hover-flip-item">
                                <span data-text="Jamal Gibson">Jamal Gibson</span>
                            </span>
                        </a>
                    </h6>
                    <ul class="post-meta-list">
                        <li>@Model.CreatedDate.ToString("MMM dd, yyyy")</li>
                        @*<li>3 min read</li>*@
                    </ul>
                </div>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <ul class="social-share-transparent justify-content-end">
                    <li><a asp-action="Edit" asp-route-id="@Model.Id" asp-controller="BlogPosts"><i class="fa-solid fa-file-pen fa-xl"></i></a></li>
                    <li><a asp-action="Details" asp-route-slug="@Model.Slug" asp-controller="BlogPosts"><i class="fa-solid fa-file-invoice fa-xl"></i></a></li>
                    <li><a asp-action="Delete" asp-route-id="@Model.Id" asp-controller="BlogPosts"><i class="fa-solid fa-trash fa-xl"></i></a></li>
                </ul>
            }
        </div>
    </div>
</div>
<!-- End Post List  -->