@using CrucibleBlogMVC.Services.Interfaces
@using CrucibleBlogMVC.Enums

@inject IBlogService _BlogService
@inject IImageService _ImageService

<div class="sidebar-inner">

    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_categories mb--30">
        <ul>
            @foreach (Category category in (await _BlogService.GetCategoriesAsync()).Take(4))
            {
                <li class="cat-item">
                    <a href="#" class="inner">
                        <div class="thumbnail">
                            <img src="@_ImageService.ConvertByteArrayToFileAsync(category.ImageData, category.ImageType, (int)DefaultImage.CategoryImage)" alt="">
                        </div>
                        <div class="content">
                            <h5 class="title">@category.Name</h5>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
    <!-- End Single Widget  -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_search mb--30">
        <h5 class="widget-title">Search</h5>
        <form asp-action="SearchIndex" asp-controller="Home">
            <div class="axil-search form-group">
                <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                <input type="text" class="form-control" placeholder="Search" name="searchString">
            </div>
        </form>
    </div>
    <!-- End Single Widget  -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_postlist mb--30">
        <h5 class="widget-title">Popular Posts</h5>

        <!-- Start Post List  -->
        <div class="post-medium-block">
            @foreach (BlogPost blogPost in (await _BlogService.GetPopularBlogPostsAsync(3)))
            {
                <!-- Start Single Post  -->
                <div class="content-block post-medium mb--20">
                    <div class="post-thumbnail">
                        <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">
                            <img src="@_ImageService.ConvertByteArrayToFileAsync(blogPost.ImageData, blogPost.ImageType, (int)DefaultImage.BlogPostImage)" alt="Post Images">
                        </a>
                    </div>
                    <div class="post-content">
                        <h6 class="title">
                            <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">
                                @blogPost.Title
                            </a>
                        </h6>
                        <div class="post-meta">
                            <ul class="post-meta-list">
                                <li>@blogPost.CreatedDate.ToString("MMM.dd.yyyy")</li>
                                <li>@blogPost.Comments.Count() Comment(s)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Post  -->
            }

        </div>
        <!-- End Post List  -->

    </div>
    <!-- End Single Widget  -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_social mb--30">
        <h5 class="widget-title">Stay In Touch</h5>
        <!-- Start Post List  -->
        <ul class="social-icon md-size justify-content-center">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-slack"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
        <!-- End Post List  -->
    </div>
    <!-- End Single Widget  -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_instagram mb--30">
        <h5 class="widget-title">Instagram</h5>
        <!-- Start Post List  -->
        <ul class="instagram-post-list-wrapper">
            <li class="instagram-post-list">
                <a href="#">
                    <img src="assets/images/small-images/instagram-01.jpg" alt="Instagram Images">
                </a>
            </li>
            <li class="instagram-post-list">
                <a href="#">
                    <img src="assets/images/small-images/instagram-02.jpg" alt="Instagram Images">
                </a>
            </li>
            <li class="instagram-post-list">
                <a href="#">
                    <img src="assets/images/small-images/instagram-03.jpg" alt="Instagram Images">
                </a>
            </li>
            <li class="instagram-post-list">
                <a href="#">
                    <img src="assets/images/small-images/instagram-04.jpg" alt="Instagram Images">
                </a>
            </li>
            <li class="instagram-post-list">
                <a href="#">
                    <img src="assets/images/small-images/instagram-05.jpg" alt="Instagram Images">
                </a>
            </li>
            <li class="instagram-post-list">
                <a href="#">
                    <img src="assets/images/small-images/instagram-06.jpg" alt="Instagram Images">
                </a>
            </li>
        </ul>
        <!-- End Post List  -->
    </div>
    <!-- End Single Widget  -->
</div>