@model IEnumerable<CrucibleBlogMVC.Models.Tag>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <h1>Tags</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="border border-2 rounded-3">
        <table class="table table-bordered text-center" style="margin-bottom: 0rem;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Admin Controls
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
